{% extends 'base.html' %}
{% block body %}

<div style="text-align:center">
    <h2>Introduction</h2>
    <p> If you love playing "Jeopardy" game, this app is for you! <br>
        Explore "Learn Mode" tab to learn about Jeopardy questions aired so far & Play a game on "Game Mode" tab <br>
        This web app is created by <br>
        Swapnali Gujar, Tyler King, Jeff Shen <br>
        Indiana University of Bloomington <br>
        Course: INTRO TO NLP FOR DATA SCIENCE, Semester: Fall 2023 <br>
    </p>
</div>

{% endblock %}