{% extends 'base.html' %}
{% block body %}

<div style="text-align:center">
    <h1> Learn mode! </h1>
    <form action = 'learn' method = 'post'>
        <select name = 'learn_category'>
            {% for category in categories %}
                <option category = '{{category}}' {% if category == current_category %}selected{% endif %}>
                    {{category}}
                </option>
            {% endfor %}
        </select>
        <select name = 'learn_value'>
            {% for clue_value in clue_values %}
                <option clue_value = '{{clue_value}}' {% if clue_value == current_value %}selected{% endif %}>
                    {{clue_value}}
                </option>
            {% endfor %}
        </select>
        <button type = 'submit'> Next Question </button>
    </form>

    <p> Current Chosen Category: {{current_category}} </p>

    <p> Answer: {{current_answer}} <br><br> <br> <br> <br>  </p>

    </p> Question: {{current_question}} </p>
</div>

{% endblock %}