<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="static/images/jeopardy guru logo.jpg" width="160" height="40" alt="Jeopardy Guru">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="{{url_for('index')}}">Home</a>
        <a class="nav-item nav-link" href="wordclouds">Wordclouds</a>
        <a class="nav-item nav-link" href="learn">Learn Mode</a>
        <a class="nav-item nav-link" href="game">Game Mode</a>
        <a class="nav-item nav-link" href="finalscore">Score</a>
      </div>
    </div>
</nav>