{% extends 'base.html' %}
{% block body %}

<style>    
    .normal-content{
        padding: 30px;
        text-align: center;
    }
</style>

<div class = 'normal-content'>
    <h2>Wordclouds</h2>
    <p> This page contains all the wordclouds of all the different categories. <br> <br> <br>
    'Music and Phrases' <br>
    <img src="static/images/Music_and_Phrases_wordcloud.png" alt="Music_and_Phrases_wordcloud"> <br>
    'Music Facts & Some Bodies of Water' <br>
    <img src="static/images/Music_Facts_&_Some_Bodies_of_Water_wordcloud.png" alt="Music_Facts_water_wordcloud"> <br>
    'Government and Sports' <br>
    <img src="static/images/Government_and_Sports_wordcloud.png" alt="Government_and_Sports_wordcloud"> <br>
    'International + Broadway' <br>
    <img src="static/images/International_+_Broadway_wordcloud.png" alt="International_Broadway_worldcloud"> <br>
    'World Talk' <br>
    <img src="static/images/World_Talk_wordcloud.png" alt="World_Talk_wordcloud"> <br>
    'Movies and Rhyme Time' <br>
    <img src="static/images/Movies_and_Rhyme_Time_wordcloud.png" alt="Movies_and_Rhyme_Time_wordcloud"> <br>
    'Literature and American History' <br>
    <img src="static/images/Literature_and_American_History_wordcloud.png" alt="Literature_and_American_History_wordcloud"> <br>
    'TV' <br>
    <img src="static/images/TV_wordcloud.png" alt="TV_wordcloud"> <br>
    'History' <br>
    <img src="static/images/History_wordcloud.png" alt="History_wordcloud"> <br>
    'Big Names' <br>
    <img src="static/images/Big_Names_wordcloud.png" alt="Big_Names_wordcloud"> <br>
    'Singers and Potent Potables' <br>
    <img src="static/images/Singers_and_Potent_Potables_wordcloud.png" alt="Singers_and_Potent_Potables_wordcloud"> <br>
    </p>
</div>

{% endblock %}